*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
width: 100%;
height: 100vh;
background: #000000;
color: rgb(187, 183, 183)
}
.container-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-div > h1 { 
    margin: 42px 0px;
    font-size: 18px;
    font-weight: 800;
    border-bottom: 1px solid orangered;
}
.input-side > input {
padding: 13px 18px;
outline: none;
border-radius: 8px;
    
}
.input-side >  button {
 padding: 13px 8px;
 cursor: pointer;
 border-radius: 8px;
 outline: none;
}
 .output {
text-align: center;
 width: 300px;
 height: 100px;
 background-color: white;
 border-radius: 12px;
 margin-top: 22px;
 color: black;
 padding: 8px;
 box-shadow: inset 2px 2px 5px #b8b9be,inset -3px -3px 7px #fff!important;
}
.outWrong {
    color: red;
}